version: "3.9"
services:
  ora-db:
    image: postgres
    restart: always
    container_name: ora-db
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: harshal
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres

  minio:
    image: quay.io/minio/minio:RELEASE.2022-02-18T01-50-10Z
    volumes:
      - ./data:/data
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: harshal
      MINIO_ROOT_PASSWORD: 123456789
      MINIO_ADDRESS: :9000
      MINIO_CONSOLE_ADDRESS: :9001
    command: server --console-address ":9001" /data
    restart: always

volumes:
  postgres:
  minio: