services:
  ora-db-dev:
    image: postgres
    container_name: ora-db-dev
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=harshal
      - PGDATA=/data/postgres-ora-dev
    volumes:
      - postgres-ora-dev:/data/postgres-ora-dev

volumes:
  postgres-ora-dev:
